@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~highlight.js/styles/monokai.css';

@layer components {
  * {
    box-sizing: border-box;
  }
  .card-shadow {
    box-shadow: 10px 10px 0px 0px #1e1e1e;
    -webkit-box-shadow: 10px 10px 0px 0px #1e1e1e;
    -moz-box-shadow: 10px 10px 0px 0px #1e1e1e;
  }
  .button-shadow {
    box-shadow: 5px 5px 0px 0px #1e1e1e;
    -webkit-box-shadow: 5px 5px 0px 0px #1e1e1e;
    -moz-box-shadow: 5px 5px 0px 0px #1e1e1e;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  /* 
  for pre tag added by `react-highlight` package, 
  can't access pre tag from props.
   */
  pre {
    height: 100%;
  }
}
